/old-tumbleweed-docker-vmk-mini/workspace/disk*
/old-tumbleweed-docker-vmk-mini/workspace/runner/
/old-tumbleweed-docker-vmk-mini/workspace/xfstests
/old-tumbleweed-docker-vmk-mini/workspace/btrfs-progs
/old-tumbleweed-docker-vmk-mini/workspace/linux-vm
/old-tumbleweed-docker-vmk-mini/workspace/linux-vm-nord
/old-tumbleweed-docker-vmk-mini/workspace/ccache
/old-tumbleweed-docker-vmk-mini/workspace/vm-gh/disk*
/old-tumbleweed-docker-vmk-mini/workspace/vm-gh/root
/old-tumbleweed-docker-vmk-mini/workspace/vm-gh/mods/
/old-tumbleweed-docker-vmk-mini/workspace/vm-gh/mnt/
/old-tumbleweed-docker-vmk-mini/workspace/vm-gh/*.tar.gz
/old-tumbleweed-docker-vmk-mini/workspace/vm-gh/serial*.log
/old-tumbleweed-docker-vmk-mini/workspace/vm-gh/bzImage
